{% extends "base.html" %}

{% block title %}{{ project_name }} // Account{% end %}

{% block header_text %}{{ project_name }} // Account{% end %}

{% block body %}
<div class="row">
  <div class="col">
    <p>Welcome to your {{ project_name }} account. Use the navigation bar at the top to access tools and settings.</p>
  </div>
</div>
{% end %}
