<p>&ldquo;{{given_name}} {{family_name}}&rdquo; (<a href="mailto:{{email}}">{{email}}</a>) has registered for the MUSES seminar series.</p>
<p><b>Affiliation:</b> {{affiliation}}</p>
<p><b>Country:</b> {{country}}</p>
<p><b>Role:</b> {{role}}</p>
<p><b>Research:</b> {{research}}</p>
