<p>&ldquo;{{given_name}} {{family_name}}&rdquo; (<a href="mailto:{{email}}">{{email}}</a>) has requested membership in the MUSES collaboration.</p>
<p><b>Affiliation:</b> {{affiliation}}</p>
<p><b>Country:</b> {{country}}</p>
<p><b>Role:</b> {{role}}</p>
<p><b>Research:</b> {{research}}</p>
<p><b>Working Groups:</b></p>
<ul>
    {% for wg in working_groups -%}
    <li>{{wg}}</li>
    {% endfor -%}
</ul>
<p><b>Motivation:</b></p>
<p>{{motivation}}</p>
<p>✅ <a href="{{approve_link}}">Click here to <b>APPROVE</b> </a>&ldquo;{{given_name}} {{family_name}}&rdquo; as a new MUSES collaborator.</p>
<p>⛔ <a href="{{reject_link}}">Click here to <b>REJECT</b></a> their request.</p>
