<h2>MUSES Calculation Engine</h2>

<p><b>Your access request for the MUSES Calculation Engine has been approved.</b></p>

<p>If you have any questions, please <a href="https://forum.musesframework.io/new-topic?category=calc-engine-support&title=Replace%20me%20with%20descriptive%20title&body=Provide%20a%20detailed%20description%20of%20your%20problem%20and%20your%20question" target="_blank">create a topic on the MUSES forum</a> and someone in the collaboration will help you. Bonus points if you use the forum search tool to see if someone has already answered your question 🙂</p>

<p><b>Note</b>: Make sure to log out and back in for the changes to take effect. For both Calculation Engine and the forum, you <i>must</i> log in with the same identity provider assocated with this email address that you used when requesting access.</p>
