<p>We regret to inform you that your request to join the MUSES collaboration has been denied.</p>
<p>Please contact <a href="https://muses.physics.illinois.edu">the MUSES leadership</a> if you have any additional questions.</p>
