<h2>🎉 Welcome to the MUSES Collaboration!</h2>
<p>You have been approved as a new collaborator in the MUSES project. There are a few things you need to do to ensure a smooth onboarding process.</p>
<ol>
    <li>
        <a href="https://forum.musesframework.io/t/collaborator-onboarding/69">Click here to complete the Onboarding Checklist.</a>
    </li>
</ol>
<p>If you have any questions, please create a topic on the MUSES forum and someone in the collaboration will help you. Bonus points if you use the forum search tool to see if someone has already answered your question 🙂</p>
