body {
    background: #29941d;
    margin: 0;
    -webkit-animation: animate_bg 120s;
    animation: animate_bg 120s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.form {
    width: 90vw;
    min-width: 350px;
    max-width: 50rem;
    /* height: 30rem; */
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    /* max-width: calc(100vw - 40px); */
    box-sizing: border-box;
    /* font-family: 'Montserrat',sans-serif; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative
}
h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    max-width: 26rem;
    width: 80vw;
    min-width: 300px;
    /* color: #78788c; */
    border-bottom: 3px solid #78788c
}
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat',sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}
input:focus {
    border-bottom: 2px solid #78788c
}
p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    /* color: #5a5a5a */
}
button {
    float: center;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat',sans-serif;
    border: 2px solid #78788c;
    background: 0;
    /* color: #5a5a6e; */
    cursor: pointer;
    transition: all .3s
}
button:hover {
    background: #78788c;
    color: #fff
}
/* div {
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000
} */
#footer {
    margin: 3rem;
    text-align: center;
}
#instructions {
    font-weight: 600;
}
#error {
    display: none;
    background: #b83838;
    color: white;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    box-sizing: border-box;
}
#result {
    display: none;
    background: #384fb8;
    color: white;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    box-sizing: border-box;
}
#result a {
    color: white;
}
span {
    margin: 0 5px 0 15px
}



/* Hide the default checkbox */
input[type=checkbox] {
    visibility: hidden;
}

/* creating a custom checkbox based on demand */
.w3docs {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    border: solid black;
}
/* checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.w3docs:after {
    content: "";
    position: absolute;
    display: none;
}

label {
    display: block;
    position: relative;
    padding-left: 3rem;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 1rem;
}
/* specify the background color to be shown when checkbox is checked */
label input:checked ~ .w3docs {
    background-color: black;
}
/* display checkmark when checked */
label input:checked ~ .w3docs:after {
    display: block;
}
/* styling the checkmark using webkit */
/* creating a square to be the sign of checkmark */
label .w3docs:after {
    left: 6px;
    bottom: 5px;
    width: 6px;
    height: 6px;
    border: solid black;
    border-width: 4px 4px 4px 4px;
}
textarea {
    margin: 2rem auto;
    width: 60vw;
    max-width: 30rem;
}
.code-of-conduct {
    margin: 2rem auto;
}
#spinner {
    display: none;
}

@keyframes animate_bg {
  0% {
      background: #259318;
  }

  25% {
      background: #0728bb;
  }

  50% {
      background: #921410;
  }

  75% {
      background: #0728bb;
  }
  
  100% {
      background: #259318;
  }
}

@-webkit-keyframes animate_bg {
  0% {
      background: #259318;
  }

  25% {
      background: #0728bb;
  }

  50% {
      background: #921410;
  }

  75% {
      background: #0728bb;
  }
  
  100% {
      background: #259318;
  }
}

/* source: https://www.cssscript.com/demo/ios-style-loading-spinner-with-pure-css-ispinner/ispinner.css */
.ispinner {
    position: relative;
    width: 3rem;
    height: 3rem; }
    .ispinner .ispinner-blade {
      position: absolute;
      left: 44.5%;
      top: 37%;
      width: 10%;
      height: 25%;
      border-radius: 50%/20%;
      -webkit-animation: ispinner-fade 1s linear infinite;
      animation: ispinner-fade 1s linear infinite;
      -webkit-animation-play-state: paused;
      animation-play-state: paused; }
      .ispinner .ispinner-blade:nth-child(1) {
        -webkit-animation-delay: -1.66667s;
        animation-delay: -1.66667s;
        -webkit-transform: rotate(30deg) translate(0, -150%);
        transform: rotate(30deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(2) {
        -webkit-animation-delay: -1.58333s;
        animation-delay: -1.58333s;
        -webkit-transform: rotate(60deg) translate(0, -150%);
        transform: rotate(60deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(3) {
        -webkit-animation-delay: -1.5s;
        animation-delay: -1.5s;
        -webkit-transform: rotate(90deg) translate(0, -150%);
        transform: rotate(90deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(4) {
        -webkit-animation-delay: -1.41667s;
        animation-delay: -1.41667s;
        -webkit-transform: rotate(120deg) translate(0, -150%);
        transform: rotate(120deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(5) {
        -webkit-animation-delay: -1.33333s;
        animation-delay: -1.33333s;
        -webkit-transform: rotate(150deg) translate(0, -150%);
        transform: rotate(150deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(6) {
        -webkit-animation-delay: -1.25s;
        animation-delay: -1.25s;
        -webkit-transform: rotate(180deg) translate(0, -150%);
        transform: rotate(180deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(7) {
        -webkit-animation-delay: -1.16667s;
        animation-delay: -1.16667s;
        -webkit-transform: rotate(210deg) translate(0, -150%);
        transform: rotate(210deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(8) {
        -webkit-animation-delay: -1.08333s;
        animation-delay: -1.08333s;
        -webkit-transform: rotate(240deg) translate(0, -150%);
        transform: rotate(240deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(9) {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
        -webkit-transform: rotate(270deg) translate(0, -150%);
        transform: rotate(270deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(10) {
        -webkit-animation-delay: -0.91667s;
        animation-delay: -0.91667s;
        -webkit-transform: rotate(300deg) translate(0, -150%);
        transform: rotate(300deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(11) {
        -webkit-animation-delay: -0.83333s;
        animation-delay: -0.83333s;
        -webkit-transform: rotate(330deg) translate(0, -150%);
        transform: rotate(330deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(12) {
        -webkit-animation-delay: -0.75s;
        animation-delay: -0.75s;
        -webkit-transform: rotate(360deg) translate(0, -150%);
        transform: rotate(360deg) translate(0, -150%); }
    .ispinner.animating .ispinner-blade {
      -webkit-animation-play-state: running;
      animation-play-state: running; }
    .ispinner.white .ispinner-blade {
      background-color: white; }
    .ispinner.gray .ispinner-blade {
      background-color: #8C8C8C; }
    .ispinner.large {
      width: 35px;
      height: 35px; }
      .ispinner.large .ispinner-blade {
        width: 8.57143%;
        height: 25.71429%;
        border-radius: 50%/16.67%; }
  
  @-webkit-keyframes ispinner-fade {
    0% {
      opacity: 0.85; }
    50% {
      opacity: 0.25; }
    100% {
      opacity: 0.25; } }
  @keyframes ispinner-fade {
    0% {
      opacity: 0.85; }
    50% {
      opacity: 0.25; }
    100% {
      opacity: 0.25; } }
  