<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>MUSES Registration Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        {{css}}
    </style>
</head>
<body>
    <form class="form" id="register-form">
        <h2>New MUSES Collaborator</h2>
        <p><b>⚠️</b> This form is for those who want to join the MUSES collaboration. If you only want to register for email notifications about upcoming MUSES seminars, please <a href="https://musesframework.io/register/seminar">submit this registration form instead</a>.</p>
        <p id="instructions">To join the MUSES collaboration, please carefully complete the steps below. Your request will be approved or rejected by the MUSES project leadership. After you submit the form, await the email with their decision.</p>
        <p><b>Note:</b> You will be automatically registered to receive information about the MUSES seminar series. There is no need to separately complete the seminar registration form.</p>
        <ol>
            <li>
                <p><a href="https://forum.musesframework.io/login" target="_blank">Create a new MUSES account (or log in to your existing account) using this link</a> by authenticating with your preferred identity provider. <b>Questions about logging in?</b> <a href="https://forum.musesframework.io/t/muses-accounts/">Read more about MUSES accounts here</a>.
                </p>
            </li>
            <li>
                <p><a href="https://keycloak.muses.ncsa.illinois.edu/realms/MUSES/account/#/personal-info" target="_blank">Review your personal info here</a> to ensure that your <b>Name</b> and <b>Email</b> are accurate.
                </p>
            </li>
            <li>
                <p>Enter <b>the same email address</b> here that is associated with your MUSES account from Step 1:</p>
                <p type="Email:"><input id="email" placeholder="michelle.obama@example.com"></input></p>
            </li>
            <li>
                <p type="Select the working groups you wish to join (click the links for details about each):">
                    <div>
                        <label for="wg_cyberinfrastructure">
                            <a target="_blank" href="https://muses.physics.illinois.edu/working-groups/cyberinfrastructure">Cyberinfrastructure</a>
                            <input type="checkbox" name="workgroups[]" id="wg_cyberinfrastructure" value="Cyberinfrastructure"><span class="w3docs"></span>
                         </label>
                    </div>
                    <div>
                        <label for="wg_heavy_ions">
                            <a target="_blank" href="https://muses.physics.illinois.edu/working-groups/heavy-ions">Heavy-ions</a>
                        <input type="checkbox" name="workgroups[]" id="wg_heavy_ions" value="Equation of state: Heavy-ions"> <span class="w3docs"></span>
                         </label>
                    </div>
                    <div>
                        <label for="wg_neutron_stars">
                            <a target="_blank" href="https://muses.physics.illinois.edu/working-groups/neutron-stars">Neutron stars</a>
                        <input type="checkbox" name="workgroups[]" id="wg_neutron_stars" value="Equation of state: Neutron stars"><span class="w3docs"></span>
                         </label>
                    </div>
                    <div>
                        <label for="wg_users">
                            <a target="_blank" href="https://muses.physics.illinois.edu/working-groups/users">Users</a>
                        <input type="checkbox" name="workgroups[]" id="wg_users" value="Users"><span class="w3docs"></span>
                         </label>
                    </div>
                </p>
            </li>
            <li>
                <p type="Why do you want to join the MUSES collaboration? (limit 1000 characters)"><textarea id="motivation" name="motivation" rows="5" cols="40" placeholder="I would like to join the user group to study the possibility of using the MUSES cyberinfrastructure with NICER X-ray data to constrain the equation of state of supranuclear matter."></textarea>
                </p>
            </li>
            <li>
                <p type="Code of Conduct:">
                <div class="code-of-conduct">
                    We will observe the Code of Conduct standard for APS meetings.
                </div>
                <div class="code-of-conduct">
                    All participants, including attendees, vendors, staff, volunteers will conduct themselves in a professional manner
                    that is welcoming to all participants and free from any form of discrimination, harassment, or retaliation.
                    Participants will treat each other with respect and consideration to create a collegial, inclusive, and professional
                    environment when collaborating on the MUSES project. Creating a supportive environment to enable scientific
                    discourse for the MUSES project is the responsibility of all participants.
                    </div>
                <div class="code-of-conduct">
                    Participants will avoid any inappropriate actions or statements based on individual characteristics such as age,
                    race, ethnicity, sexual orientation, gender identity, gender expression, marital status, nationality, political
                    affiliation, ability status, educational background, or any other characteristic protected by law. Disruptive or
                    harassing behavior of any kind will not be tolerated. This includes but is not limited to any form of sexual
                    harassment, inappropriate or intimidating behavior and language, sustained disruption, use of offensive or
                    demeaning language including unwelcome jokes or comments, unwanted touching or attention, offensive images,
                    photography without permission, and stalking.
                </div>
                <div class="code-of-conduct">
                    Violations of this code of conduct policy should be reported to meeting organizers. Sanctions may range from verbal
                    warning, to ejection from the meeting without refund, to notifying appropriate authorities. Retaliation for
                    complaints of inappropriate conduct will not be tolerated. If a participant observes inappropriate comments or
                    actions and personal intervention seems appropriate and safe, they should be considerate of all parties before
                    intervening.
                </div>
                <div>
                    <label for="conduct">
                        I agree to abide by the code of conduct.
                        <input type="checkbox" name="conduct" id="conduct" value="agree"><span class="w3docs"></span>
                    </label>
                </div>
                </p>
            </li>
            {{personal_info_fields}}
        </ol>
        <hr>
        <button id="btnSubmit">Submit form</button>
        <div id="result">Your collaboration request has been received and will be reviewed by the MUSES leadership. You may close this page.</div>
        <div id="spinner">Submitting form. Please be patient (allow up to 60 seconds)...
            <div class="ispinner gray animating">
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
            </div>
        </div>
        <div id="error"></div>
        <div id="footer">
            <a href="https://muses.physics.illinois.edu/" target="_blank"><img src="https://forum.musesframework.io/uploads/default/original/1X/51e2cc7e7171ad0ece8cebf1a4983c0bdb881492.png" height="50px" alt="MUSES" /></a>
        </div>
    </form>
</body>
<script>
    {{javascript}}
</script>
</html>
