<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>MUSES Seminar Series</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        {{css}}
    </style>
</head>
<body>
    <form class="form" id="register-form">
        <h2>MUSES Seminar Series</h2>
        <p id="instructions">After submitting the form below, you will begin receiving emails when information about upcoming MUSES seminars is posted in <a href="https://forum.musesframework.io/c/seminar-series/" target="_blank">the Seminar Series category on the MUSES forum</a> (access to the category is granted upon registration). This is similar to a traditional email list, except here you have <a href="https://forum.musesframework.io/my/preferences/emails" target="_blank">precise control over what notifications you choose to receive</a>.</p>
        <ol>
            <li>
                <p><a href="https://forum.musesframework.io/login" target="_blank">Create a new MUSES account (or log in to your existing account) using this link</a> by authenticating with your preferred identity provider. <b>Questions about logging in?</b> <a href="https://forum.musesframework.io/t/muses-accounts/">Read more about MUSES accounts here</a>.
                </p>
            </li>
            <li>
                <p><a href="https://keycloak.muses.ncsa.illinois.edu/realms/MUSES/account/#/personal-info" target="_blank">Review your personal info here</a> to ensure that your <b>Name</b> and <b>Email</b> are accurate.
                </p>
            </li>
            <li>
                <p>Enter <b>the same email address</b> here that is associated with your MUSES account from Step 1:</p>
                <p type="Email:"><input id="email" placeholder="michelle.obama@example.com"></input></p>
            </li>
            {{personal_info_fields}}
        </ol>
        <hr>
        <button id="btnSubmit">Submit form</button>
        <div id="result">Your registration was submitted successfully! You may manage your email notification preferences at any time <a href="https://forum.musesframework.io/my/preferences/emails">in your personal account settings</a>.</div>
        <div id="spinner">Submitting form. Please be patient (allow up to 60 seconds)...
            <div class="ispinner gray animating">
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
            </div>
        </div>
        <div id="error"></div>
        <div id="footer">
            <a href="https://muses.physics.illinois.edu/" target="_blank"><img src="https://forum.musesframework.io/uploads/default/original/1X/51e2cc7e7171ad0ece8cebf1a4983c0bdb881492.png" height="50px" alt="MUSES" /></a>
        </div>
    </form>
</body>
<script>
    {{javascript}}
</script>
</html>
