{% extends "account.html" %}

{% block css %}
{{css}}
{% end %}

{% block body %}
<div class="row">
  <div class="col">
    <h2>User profile</h2>
    <p>
      Update your MUSES account profile information here.
      You may add multiple affiliations and multiple working groups.
      Surround acknowledgements and author name text with <code>$</code> character to indicate LaTeX syntax. 
    </p>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{ user_info['given_name'] }} {{ user_info['family_name'] }}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><code>{{ user_info['email'] }}</code></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Author name</th>
          {% if 'author_name' in profile_attributes %}
          <td><code>{{ profile_attributes['author_name'][0] }}</code></td>
          <td><a href="#" onclick="showEditForm('author_name')">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a></td>
          <td><a href="#" onclick="updateAttribute('delete', 'author_name', '{{ url_escape(profile_attributes['author_name'][0]) }}')">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a></td>
          {% else %}
          <td></td>
          <td></td>
          <td><a href="#" onclick="showEditForm('author_name')">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a></td>
          {% end %}
        </tr>
        <tr>
          <th>Acknowledgements</th>
          {% if 'acknowledgements' in profile_attributes %}
          <td><code>{{ profile_attributes['acknowledgements'][0] }}</code></td>
          <td><a href="#" onclick="showEditForm('acknowledgements')">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a></td>
          <td><a href="#" onclick="updateAttribute('delete', 'acknowledgements', '{{ url_escape(profile_attributes['acknowledgements'][0]) }}')">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a></td>
          {% else %}
          <td></td>
          <td></td>
          <td><a href="#" onclick="showEditForm('acknowledgements')">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a></td>
          {% end %}
        </tr>
        <tr>
          <th>Website</th>
          {% if 'website' in profile_attributes %}
          <td><a href="{{ profile_attributes['website'][0] }}" target="_blank">{{ profile_attributes['website'][0] }}</a></td>
          <td><a href="#" onclick="showEditForm('website')">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a></td>
          <td><a href="#" onclick="updateAttribute('delete', 'website', '{{ url_escape(profile_attributes['website'][0]) }}')">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a></td>
          {% else %}
          <td></td>
          <td></td>
          <td><a href="#" onclick="showEditForm('website')">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a></td>
          {% end %}
        </tr>
        <tr>
          <th>Role</th>
          {% if 'role' in profile_attributes %}
          <td>{{ profile_attributes['role'][0] }}</td>
          <td><a href="#" onclick="showEditForm('role')">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a></td>
          <td><a href="#" onclick="updateAttribute('delete', 'role', '{{ url_escape(profile_attributes['role'][0]) }}')">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a></td>
          {% else %}
          <td></td>
          <td></td>
          <td><a href="#" onclick="showEditForm('role')">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a></td>
          {% end %}
        </tr>
        {% if 'affiliation' in profile_attributes %}
        {% for affiliation in profile_attributes['affiliation'] %}
        <tr>
          <th>Affiliation</th>
          <td>{{ affiliation }}</td>
          <td><a href="#" onclick="showEditForm('affiliation')">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a></td>
          <td><a href="#" onclick="updateAttribute('delete', 'affiliation', '{{ url_escape(affiliation) }}')">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a></td>
        </tr>
        {% end %}
        {% else %}
        <tr>
          <th>Affiliation</th>
          <td></td>
          <td></td>
          <td><a href="#" onclick="showEditForm('affiliation')">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a></td>
        </tr>
        {% end %}
        {% if 'working_group' in profile_attributes %}
        {% for working_group in profile_attributes['working_group'] %}
        <tr>
          <th>Working Group</th>
          <td>{{ working_group }}</td>
          <td><a href="#" onclick="showEditForm('working_group')">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a></td>
          <td><a href="#" onclick="updateAttribute('delete', 'working_group', '{{ url_escape(working_group) }}')">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a></td>
        </tr>
        {% end %}
        {% else %}
        <tr>
          <th>Working Group</th>
          <td></td>
          <td></td>
          <td><a href="#" onclick="showEditForm('working_group')">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a></td>
        </tr>
        {% end %}
      </tbody>
    </table>
  </div>
  <div class="container">
    <div id="affiliation-container" class="row input-set mx-2 mx-md-0 my-2 input-container">
      <div class="col-12 col-md-9">
        <input class="input-field" type="text" placeholder="University of Illinois Urbana-Champaign" id="newAffiliation">
      </div>
      <div class="w-100 d-sm-block d-md-none"></div>
      <div class="col-12 col-md-3">
        <button id="newAffiliationButton">Add affiliation</button>
      </div>
    </div>
    <div id="working_group-container" class="row input-set mx-2 mx-md-0 my-2 input-container">
      <div class="col-12 col-md-9">
        <!-- <label for="workingGroups">Select a working group:</label> -->
        <select class="input-field" name="workingGroups" id="newWorkingGroup">
          <option disabled selected value>-- Select a working group --</option>
          {% if 'working_group' not in profile_attributes or ('working_group' in profile_attributes and 'neutron stars' not in profile_attributes['working_group'])%}<option value="neutron stars">Neutron Stars</option>{% end %}
          {% if 'working_group' not in profile_attributes or ('working_group' in profile_attributes and 'heavy ion' not in profile_attributes['working_group'])%}<option value="heavy ion">Heavy Ion</option>{% end %}
          {% if 'working_group' not in profile_attributes or ('working_group' in profile_attributes and 'cyberinfrastructure' not in profile_attributes['working_group'])%}<option value="cyberinfrastructure">Cyberinfrastructure</option>{% end %}
          {% if 'working_group' not in profile_attributes or ('working_group' in profile_attributes and 'users' not in profile_attributes['working_group'])%}<option value="users">Users</option>{% end %}
        </select> 
      </div>
      <div class="w-100 d-sm-block d-md-none"></div>
      <div class="col-12 col-md-3">
        <button id="newWorkingGroupButton">Add working group</button>
      </div>
    </div>
    <div id="role-container" class="row input-set mx-2 mx-md-0 my-2 input-container">
      <div class="col-12 col-md-9">
        <!-- <label for="role">Select a role:</label> -->
        <select class="input-field" name="role" id="newRole">
          <option disabled selected value>-- Select a role --</option>
          {% if 'role' not in profile_attributes or ('role' in profile_attributes and 'faculty' not in profile_attributes['role'])%}<option value="faculty">Faculty</option>{% end %}
          {% if 'role' not in profile_attributes or ('role' in profile_attributes and 'research scientist' not in profile_attributes['role'])%}<option value="research scientist">Research scientist</option>{% end %}
          {% if 'role' not in profile_attributes or ('role' in profile_attributes and 'postdoctoral researcher' not in profile_attributes['role'])%}<option value="postdoctoral researcher">Postdoctoral researcher</option>{% end %}
          {% if 'role' not in profile_attributes or ('role' in profile_attributes and 'graduate student' not in profile_attributes['role'])%}<option value="graduate student">Graduate student</option>{% end %}
          {% if 'role' not in profile_attributes or ('role' in profile_attributes and 'undergraduate student' not in profile_attributes['role'])%}<option value="undergraduate student">Undergraduate student</option>{% end %}
          {% if 'role' not in profile_attributes or ('role' in profile_attributes and 'principal investigator' not in profile_attributes['role'])%}<option value="principal investigator">Principal investigator</option>{% end %}
          {% if 'role' not in profile_attributes or ('role' in profile_attributes and 'co-principal investigator' not in profile_attributes['role'])%}<option value="co-principal investigator">Co-principal investigator</option>{% end %}
          {% if 'role' not in profile_attributes or ('role' in profile_attributes and 'senior investigator' not in profile_attributes['role'])%}<option value="senior investigator">Senior investigator</option>{% end %}
          {% if 'role' not in profile_attributes or ('role' in profile_attributes and 'other' not in profile_attributes['role'])%}<option value="other">Other</option>{% end %}
        </select> 
      </div>
      <div class="w-100 d-sm-block d-md-none"></div>
      <div class="col-12 col-md-3">
        <button id="newRoleButton">{% if 'role' in profile_attributes %}Update{% else %}Add{% end %} role</button>
      </div>
    </div>
    <div id="author_name-container" class="row input-set mx-2 mx-md-0 my-2 input-container">
      <div class="col-12 col-md-9">
        <input class="input-field" type="text" placeholder="$Alfred Land\'e$" id="updateAuthorName" value="{% if 'author_name' in profile_attributes %}{{ profile_attributes['author_name'][0] }}{% else %}{% end %}">
      </div>
      <div class="w-100 d-sm-block d-md-none"></div>
      <div class="col-12 col-md-3">
        <button id="updateAuthorNameButton">{% if 'author_name' in profile_attributes %}Update{% else %}Add{% end %} author name</button>
      </div>
    </div>
    <div id="website-container" class="row input-set mx-2 mx-md-0 my-2 input-container">
      <div class="col-12 col-md-9">
        <input class="input-field" type="text" placeholder="https://example.com" id="updateWebsite" value="{% if 'website' in profile_attributes %}{{ profile_attributes['website'][0] }}{% else %}{% end %}">
      </div>
      <div class="w-100 d-sm-block d-md-none"></div>
      <div class="col-12 col-md-3">
        <button id="updateWebsiteButton">{% if 'website' in profile_attributes %}Update{% else %}Add{% end %} website</button>
      </div>
    </div>
    <div id="acknowledgements-container" class="row input-set mx-2 mx-md-0 my-2 input-container">
      <div class="col-12 col-md-9">
        <textarea class="input-field" type="text" rows="4" placeholder="$This work was supported in part by the National Science Foundation $\left( NSF \right)$ within the framework of the MUSES collaboration, under grant number OAC-2103680.$" id="updateAcknowledgements">
          {% if 'acknowledgements' in profile_attributes %}{{ profile_attributes['acknowledgements'][0] }}{% else %}{% end %}
        </textarea>
      </div>
      <div class="w-100 d-sm-block d-md-none"></div>
      <div class="col-12 col-md-3">
        <button id="updateAcknowledgementsButton">{% if 'acknowledgements' in profile_attributes %}Update{% else %}Add{% end %} acknowledgements</button>
      </div>
    </div>
  </div>
</div>
<div id="spinner">Submitting form. Please be patient...
  <div class="ispinner gray animating">
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
      <div class="ispinner-blade"></div>
  </div>
</div>
<div id="result">Profile updated. Refreshing page...</div>
<div id="error"></div>
{% end %}

{% block javascript %}
<script>
  {% include "profile.js" %}
</script>
{% end %}
