.codeblock {
  border: solid lightgray 1px;
  padding: 1rem 1rem;
  background-color: #EEE;
}
#error {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 30vh);
    background: #b83838;
    color: white;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    box-sizing: border-box;
    width: 50%;
    max-width: 500px;
}
#result {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 30vh);
  background: #4fbb3c;
  color: white;
  font-weight: 600;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  box-sizing: border-box;
  width: 50%;
  max-width: 500px;
}
#result a {
    color: white;
}
input[type=text], textarea[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: monospace;
}
button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  display: inline-block;
  margin: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.input-set {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.input-container {
  display: none;
}

#spinner {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 30vh);
}
/* source: https://www.cssscript.com/demo/ios-style-loading-spinner-with-pure-css-ispinner/ispinner.css */
.ispinner {
    position: relative;
    width: 3rem;
    height: 3rem; }
    .ispinner .ispinner-blade {
      position: absolute;
      left: 44.5%;
      top: 37%;
      width: 30%;
      height: 75%;
      border-radius: 50%/20%;
      -webkit-animation: ispinner-fade 1s linear infinite;
      animation: ispinner-fade 1s linear infinite;
      -webkit-animation-play-state: paused;
      animation-play-state: paused; }
      .ispinner .ispinner-blade:nth-child(1) {
        -webkit-animation-delay: -1.66667s;
        animation-delay: -1.66667s;
        -webkit-transform: rotate(30deg) translate(0, -150%);
        transform: rotate(30deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(2) {
        -webkit-animation-delay: -1.58333s;
        animation-delay: -1.58333s;
        -webkit-transform: rotate(60deg) translate(0, -150%);
        transform: rotate(60deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(3) {
        -webkit-animation-delay: -1.5s;
        animation-delay: -1.5s;
        -webkit-transform: rotate(90deg) translate(0, -150%);
        transform: rotate(90deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(4) {
        -webkit-animation-delay: -1.41667s;
        animation-delay: -1.41667s;
        -webkit-transform: rotate(120deg) translate(0, -150%);
        transform: rotate(120deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(5) {
        -webkit-animation-delay: -1.33333s;
        animation-delay: -1.33333s;
        -webkit-transform: rotate(150deg) translate(0, -150%);
        transform: rotate(150deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(6) {
        -webkit-animation-delay: -1.25s;
        animation-delay: -1.25s;
        -webkit-transform: rotate(180deg) translate(0, -150%);
        transform: rotate(180deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(7) {
        -webkit-animation-delay: -1.16667s;
        animation-delay: -1.16667s;
        -webkit-transform: rotate(210deg) translate(0, -150%);
        transform: rotate(210deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(8) {
        -webkit-animation-delay: -1.08333s;
        animation-delay: -1.08333s;
        -webkit-transform: rotate(240deg) translate(0, -150%);
        transform: rotate(240deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(9) {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
        -webkit-transform: rotate(270deg) translate(0, -150%);
        transform: rotate(270deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(10) {
        -webkit-animation-delay: -0.91667s;
        animation-delay: -0.91667s;
        -webkit-transform: rotate(300deg) translate(0, -150%);
        transform: rotate(300deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(11) {
        -webkit-animation-delay: -0.83333s;
        animation-delay: -0.83333s;
        -webkit-transform: rotate(330deg) translate(0, -150%);
        transform: rotate(330deg) translate(0, -150%); }
      .ispinner .ispinner-blade:nth-child(12) {
        -webkit-animation-delay: -0.75s;
        animation-delay: -0.75s;
        -webkit-transform: rotate(360deg) translate(0, -150%);
        transform: rotate(360deg) translate(0, -150%); }
    .ispinner.animating .ispinner-blade {
      -webkit-animation-play-state: running;
      animation-play-state: running; }
    .ispinner.white .ispinner-blade {
      background-color: white; }
    .ispinner.gray .ispinner-blade {
      background-color: #8C8C8C; }
    .ispinner.large {
      width: 35px;
      height: 35px; }
      .ispinner.large .ispinner-blade {
        width: 8.57143%;
        height: 25.71429%;
        border-radius: 50%/16.67%; }
  
  @-webkit-keyframes ispinner-fade {
    0% {
      opacity: 0.85; }
    50% {
      opacity: 0.25; }
    100% {
      opacity: 0.25; } }
  @keyframes ispinner-fade {
    0% {
      opacity: 0.85; }
    50% {
      opacity: 0.25; }
    100% {
      opacity: 0.25; } }
  